.crejoin {
    color: black;
    background-color: aliceblue;
    margin: 10px 13px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0;
}

.dis {
    display: none;
}

.create {
    margin: 15px 35px;
}