html,
body {
    height: 100%;
}

.div-header {
    background: rgba(255, 255, 255, 0.04);

    // @include back();
    height: 13vh;
    padding: 20px 0;



    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // border-bottom: 1px solid white;


    .header {
        cursor: pointer;
        display: inline-block;

        color: #f0ffff;
        display: inline-block;

    }
}