.profile {
    position: relative;
    top: 180px;
    margin: 0 30%;
    min-height: 35vh;
    background-color: aliceblue;
    text-align: center;
    padding: 30px 30px;
    border-radius: 20px;

    button {
        display: inline-block;
    }

    #sign-out {
        color: black;
        margin: 20px 0;
        padding: 10px 65px;
        border-radius: 0;
        border: 1px solid black;
        font-size: 1.5em;
        font-weight: 600;
        background: white;

        &:hover {
            color: white;
            background: black;
        }
    }

}

#cnfp {
    cursor: pointer;
}

.dis {
    display: none;
}

#back {
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    background: url("../233-2338164_back-transparent-background-back-icon-png-png-download.png");
    width: 40px;
    height: 40px;
    background-size: cover;
}